{% extends 'mails/layout.html.twig' %}

{% block content %}
    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="padding: 40px 40px 20px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                        <h1 style="margin: 0 0 10px; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;">{{ subject | raw }}</h1>
                        <h2>Bonjour {{ prenomNom }},</h2>
                        <P>Vous venez de vous inscrire au <a href="http://blog.thibaut-tourte.com">blog de Thibaut Tourte</a></P>
                        <P>Voici le pseudo que vous avez renseigné à la création de votre compte : <strong>{{ pseudo }}</strong></P>
                        <P>Pour confirmer votre adresse email et valider votre inscription, merci de cliquer sur le bouton ci-dessous !</P>
                        <P>Merci de votre confiance et à très bientôt ! ;)</P>
                    </td>
                </tr>
                    <tr>
                        <td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                            <!-- Button : BEGIN -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                <tr>
                                    <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                                        <a class="button-a button-a-primary" href="{{ path }}{{ link }}" style="background: #222222; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; display: block; border-radius: 4px;">
                                            <span class="button-link" style="color:#ffffff">Confirmer l'inscription</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Button : END -->
                        </td>
                    </tr>
            </table>
        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->
{% endblock %}