{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <section class="container text-center">
        <h1>Réinitialiser son mot de passe</h1>
        <i>Une dernière étape avant de pouvoir vous reconnecter !</i><br/>
        <p>Renseignez votre nouveau mot de passe deux fois et le tour est joué ! ;)</p>

        <span class="text-danger">{{ error }}</span>

        <form class="needs-validation" method="post" action="{{ path }}reset-password/{{ token }}" novalidate>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <label class="sr-only" for="password">Mot de passe</label>
                    <div class="input-group mb-2 mr-sm-2" id="show_hide_password">
                        <div class="input-group-prepend">
                            <div class="input-group-text font-weight-bold">Mot de passe</div>
                        </div>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
                        <div class="input-group-append">
                            <a href="" class="input-group-text"><i class="fas fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <div class="invalid-feedback">
                            Veuillez renseigner ce champ !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <label class="sr-only" for="confPassword">Confirmation du mot de passe</label>
                    <div class="input-group mb-2 mr-sm-2" id="show_hide_password">
                        <div class="input-group-prepend">
                            <div class="input-group-text font-weight-bold">Confirmation</div>
                        </div>
                        <input type="password" name="confPassword" class="form-control" id="confPassword" placeholder="Confirmation du mot de passe" required>
                        <div class="input-group-append">
                            <a href="" class="input-group-text"><i class="fas fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <div class="invalid-feedback">
                            Veuillez renseigner ce champ !
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-1" type="submit">Envoyer</button>
        </form>
        <br/>
        <a href="{{ path }}"><< Revenir à l'accueil du blog !</a>
    </section>
{% endblock %}

{% block footer %}{% endblock %}