{% extends 'layout.html.twig' %}

{% block title %}{{ post.slug }}{% endblock %}

{% block content %}
    {% for post in post %}
    <header class="container-fluid">
        <div class="row text-center" id="headTitle">
            <div class="col-sm-12 align-self-center">
                <h3>{{ post.title }}</h3>
            </div>
        </div>
    </header>

    <section class="container img-thumbnail">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                {% if post.image is not empty %}
                    <img src="{{ path }}images/database/post/{{ post.slug }}.jpg" class="img-thumbnail img-fluid" alt="{{ post.label }}">
                {% else %}
                    <img src="{{ path }}images/database/post/default.jpg" class="img-thumbnail img-fluid">
                {% endif %}
                <i class="h6">{{ post.chapo }}</i><br/><br/>
                <p>
                    {{ post.content }}
                </p>
                <small class="float-right">Mis à jour {{ post.lastUpdate }} par {{ post.user }}</small>
            </div>
        </div>
    </section>
    {% endfor %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 img-thumbnail">
                <img src="{{ path }}images/database/user/default.png" class="float-left" height="200">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus ante ut turpis porta, quis hendrerit leo pretium. Duis varius lacus ac gravida pharetra. Nulla interdum, nisi sit amet mollis varius, massa massa tincidunt justo, ut commodo eros ipsum id libero. Vivamus ullamcorper tempus lacus, ac euismod sapien placerat a. Praesent quis ultrices arcu, et vulputate mauris. Cras arcu augue, dignissim et aliquet vitae, gravida ut diam. Pellentesque varius ante neque, ut pharetra mi ultrices vitae. Etiam convallis dignissim magna. Quisque venenatis ipsum tempus ipsum molestie eleifend. Aliquam eu purus ornare, mattis leo pretium, ultrices tellus. Curabitur et posuere nisl. Curabitur at erat risus. Nunc eget velit lobortis, hendrerit nunc ac, faucibus erat. Praesent volutpat, quam sed efficitur dictum, purus dui cursus augue, id pellentesque sem lectus nec erat.

                Donec non nibh vitae enim ornare vestibulum eget a nunc. Maecenas sagittis tincidunt est, vel ultricies lectus volutpat eget. Sed vitae dolor eleifend, tincidunt sapien nec, tempor lacus. Duis id purus sit amet dolor faucibus tempus. Aenean venenatis nulla ac est semper, ut dictum lacus dignissim. Cras sollicitudin, dolor eget tristique suscipit, quam justo mollis risus, tristique vehicula sapien felis a leo. Etiam finibus pretium eros at suscipit. Pellentesque ex ex, ultrices et pellentesque sit amet, fermentum a sem. In varius velit at tempus cursus. Fusce sit amet ex sapien.
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
{% endblock %}